<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Restaurant name</h1>

    <form class="" action="{{url_for('editRestaurant', restaurant_id=restaurant_id)}}"
     method="post">

     <p>Name: </p>
     <input type="text" name="name" value="", size=30, placeholder="{{restaurant.name}}">
     <input type="submit" name="" value="Edit">
     <a href="{{url_for('showRestaurants')}}">Cancel</a>

    </form>

  </body>
</html>
