<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

  <body>

    <h1>
      <a href="/">Restaurants</a>
    </h1>

    <h2>{{restaurant.name}}</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
      {% for message in messages %}
        <li>{{ message}}</li>
      {% endfor %}
    </ul>

    {% endif %}
    {% endwith %}

    <p>
      <a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}">
        Create New Item
      </a>
    </p>


    {% for course in ['Appetizer', 'Entree', 'Dessert', 'Beverage'] %}
      <h3>{{course}}s</h3>

      {% for i in items %}

      {% if i.course == course %}
      <div>

        <p>{{i.name}}
          <br>
          {{i.description}}
          <br>
          {{i.price}}
          <br>
          <a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}">Edit</a>
          <br>
          <a href = "{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id ) }}">Delete</a>
        </p>

      </div>


      {% endif %}


    {% endfor %}




    {% endfor %}
  </body>

</html>
